.box1 {
    width: 100px;
    height: 100px;
    background-color: #fb4;
    position: absolute;
}


.box2 {
    width: 100px;
    height: 100px;
    background-color: #f00;
    position: absolute;
}
