.jogo-card-square.mdl-card {
  width: 320px;
  height: 320px;
}
.jogo-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('../images/dog.png') bottom right 15% no-repeat #46B6AC;
}

.navbar, .navbar.navbar-default,.menu-topo {
background-color: #fff;
color: #333;
}
